$FONT: "Segoe UI", -apple-system, BlinkMacSystemFont, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
$FONT_SIZE: 16px;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 700;

$COLOR_TEXT: #474747;
$COLOR_BRAND: #007B89;
$COLOR_BRAND_DARK: #334546;
